---
kustomize:
  ## Human friendly description (optional)
  description: ""
  ## The feature flag used to enable the feature (required)
  feature: enable_<FEATURE>
  ## The location of an external kustomize repository (optional)
  repository = URL
  ## The revision of the external repository (optional)
  revision: BRANCH|TAG
  ## The path to the kustomize overlay (required)
  path: base
  ## Optional patches to apply to the kustomize overlay (optional)
  patches:
    - target:
        kind: <KIND>
        name: <NAME>
      path: <PATH>
      key: <KEY>
      default: <DEFAULT>

  ## A collection of common labels to apply (optional)
  commomLabels:
    test: one
  ## A collection of common annotations (optional)
  commonAnnotations:
    test: one

## The namespace options (required)
namespace:
  ## The name of the namespace to deploy the application (required)
  name: kube-system

## Synchronization options (optional)
sync:
  ## How to order the deployment of the resources (optional)
  phase: primary
