---
apiVersion: v1
kind: Secret
metadata:
  name: cluster-{{ .Values.cluster_name }}
  annotations:
    {{- toYaml .Values.annotations | nindent 4 }}
    ## The path to the platform repository
    platform_path: "{{ default "." .Values.platform_path }}"
    ## The repository to use for the platform
    platform_repository: "{{ .Values.platform_repository }}"
    ## The git revision to use for the platform repository
    platform_revision: "{{ .Values.platform_revision }}"
    ## The repository to use for the tenant cluster
    tenant_repository: "{{ .Values.tenant_repository }}"
    ## The git revision to use for the tenant repository
    tenant_revision: "{{ .Values.tenant_revision }}"
    ## Tenant path in the repository
    tenant_path: "{{ default "." .Values.tenant_path }}"
  labels:
    ## The type of secret to create
    argocd.argoproj.io/secret-type: cluster
    ## Allow the core components to be enabled
    enable_core: "true"
    {{- toYaml .Values.labels | nindent 4 }}
    ## The name of the cluster
    cluster_name: "{{ .Values.cluster_name }}"
    ## The type of cluster we are (standalone, spoke or hub)
    cluster_type: {{ default "unknown" .Values.cluster_type }}
    ## The cloud vendor to use for the cluster
    cloud_vendor: "{{ .Values.cloud_vendor }}"
    ## The environment to use for the cluster
    environment: "{{ .Values.environment }}"
    ## The tenant repository to use for the cluster
    tenant: "{{ default "unknown" .Values.tenant }}"
type: Opaque
stringData:
  name: {{ .Values.cluster_name }}
  ## If we are a hub or a standalone cluster we need to set the server
  ## to the local cluster.
  {{- if or (eq "hub" .Values.cluster_type) (eq "standalone" .Values.cluster_type) }}
  server: {{ default "https://kubernetes.default.svc" .Values.server }}
  {{- end }}
  {{- if .Values.cluster_authentication.server }}
  server: {{ .Values.cluster_authentication.server }}
  {{- end }}
  {{- if gt (len .Values.cluster_authentication) 0 }}
  config:
    {{ .Values.cluster_authentication.config | toRawJson | nindent 4 }}
  {{- end }}
