---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: kyverno-system

resources:
  - deny-cap-net-raw/policy.yaml
  - deny-default-namespace/policy.yaml
  - deny-empty-ingress/policy.yaml
