---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: kyverno-system

resources:
  - deny-default-namespace/policy.yaml
  - deny-empty-ingress/policy.yaml
  - deny-external-secrets/policy.yaml
  - deny-latest-image/policy.yaml
