site_name: Kubernetes Platform
repo_url: https://github.com/gambol99/kubernetes-platform

nav:
  - Overview: index.md
  - Architecture:
      - Overview: architecture/overview.md
      - Platform Setup: architecture/setup.md
      - System Application Sets: architecture/system-appsets.md
      - Tenant Application Sets: architecture/tenant-appsets.md
      - Tenant Namespaces: architecture/tenant-namespace.md
  - Development:
      - Local: development/local.md
      - Remote:
          - Overview: development/overview.md
          - Standalone: development/standalone.md
          - Hub: development/hub.md
  - Getting Started:
      - Standalone: getting-started/standalone.md
      - Hub & Spoke: getting-started/central.md
  - Platform:
      - Overview: platform/overview.md
      - Security:
          - Network Security:
              - Cilium: platform/security/cilium.md
              - Examples: platform/security/cilium-examples.md
          - Admission Policy:
              - Kyverno: platform/security/kyverno.md
      - Workloads:
          - Cloud Resources: platform/cloudresources/terranetes.md
          - Tenant Applications: platform/tenant/applications.md
          - Tenant System: platform/tenant/system.md

theme:
  name: material
  palette:
    - scheme: default
      toggle:
        icon: material/weather-night
        name: Light mode
      primary: indigo
      accent: deep purple
    - scheme: slate
      toggle:
        icon: material/weather-sunny
        name: Dark mode
      primary: indigo
      accent: deep purple
  features:
    - navigation.footer

plugins:
  - search

extra:
  social:
    - icon: simple/github
      link: https://github.com/gambol99

## Copyright
copyright: Copyright &copy; 2025 Rohith Jayawardene

markdown_extensions:
  - attr_list
  - md_in_html
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.blocks.caption
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
