---
name: Releaes
# yamllint disable-line rule:truthy
on:
  push:
    tags:
      - "v*"

permissions:
  contents: write
  id-token: write
  packages: write

jobs:
  build:
    name: Create Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.3"
      - name: Install Changelog
        run: gem install github_changelog_generator
      - name: Generate Changelog
        run: |
          ## Get the latest tag
          LATEST_TAG=$(git tag --sort=-version:refname | head -n 1)
          ## Generate the changelog
          github_changelog_generator \
            --since-tag $LATEST_TAG \
            --user ${{ github.repository_owner }} \
            --project ${{ github.repository }} > ${{ github.workspace }}-CHANGELOG.txt
      - name: Create Release
        id: create_release
        uses: softprops/action-gh-release@v2
        with:
          body_path: ${{ github.workspace }}-CHANGELOG.txt
          repository: my_gh_org/my_gh_repo
          token: ${{ secrets.GITHUB_TOKEN }}
